{% extends 'base.html.twig' %}

{% block body %}

    <div class="bg-gray-200 min-h-screen p-8">
        <div class="flex flex-col items-center justify-center">
            <div class="mt-4 bg-white w-full lg:w-2/3 p-4 rounded-lg shadow-lg">
                <iframe class="w-full h-screen" src="{{ absolute_url(path('readme-md')) }}"></iframe>
            </div>
            <p class="text-center text-gray-400 mt-4">Retourné sur le <a href="{{ path('home') }}" class="text-blue-200 hover:text-blue-300 underline">LABO 01</a></p>
        </div>
    </div>

{% endblock %}


