<div class="user transition flex hover:bg-blue-100 cursor-pointer px-4 py-2 rounded-bl-lg rounded-tl-lg my-4" data-email="{{ user.email }}">
    <img class="rounded-full h-12 w-12 mr-4" src="https://picsum.photos/200?random={{ num }}" alt="">
    <div>
        <h3 class="text-lg font-bold text-gray-500 name">{{ user.firstname }} {{ user.lastname }}</h3>
        <p class="text-green-300 text-sm"><span class="bg-green-300 rounded-full h-2 w-2 mr-2 inline-block"></span>Connecté</p>
    </div>
</div>